<%if (current_user.tpusu !="Observador") %>
<!-- Start Service area -->
  <section id="service">
    <div class="container">
      <div class="col-lg-12 col-md-12 col-sm-12">

            <h2>Nuevo Archivo</h2>

<%= form_for(archivo) do |f| %>
  <% if archivo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(archivo.errors.count, "error") %> prohibited this archivo from being saved:</h2>

      <ul>
      <% archivo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div style="display: none">
    <%= f.number_field :idinforme ,:value => params[:informeid]  %>
  </div>

  <div class="field">
    <%= f.label :Descipcion %>
    <%= f.text_field :descripcion, :required => true %>
  </div>

  <div class="field">
    <%= f.label :"Nombre Archivo" %>
    <%= f.file_field :title %>
  </div>

  <div class="actions">
    <%= f.submit 'Guardar', {:class => "btn btn-default"}%>
  

  <%= link_to "Volver", {:controller => "archivos", :action => "index", :casoid => "#{params[:casoid]}", :informeid => "#{params[:informeid]}" }, :class => "btn btn-default"%>
  </div>
<% end %>
</div>
</div>
</section>
<% end -%>